h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.tweet {
  margin: 2rem 1.5rem;
}

.text {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.infos {
  display: flex;
}

.date {
  font-style: italic;
}

.author {
  margin-right: 1rem;
  text-decoration: underline;
}
